body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-item {
  background-color: lightgray;
  height: 50px;
  width: 200px;
  line-height: 50px;
  text-align: center;
  border-style: none;
  /* margin: 5px; */
}

.flex-container {
  display: flex;
  /* justify-content: space-around; */

}